In [ ]:
list continuation:

In [1]:
cars = ['benz','toyota','maruthi','audi','bmw']

In [ ]:
# Organising the list datatype

In [ ]:
Req: i want to organize the data in alphabetical order.....! A-Z

In [ ]:
two different approaches
1.temp approach--------->sorted
2.Permanent approach----->sort

In [ ]:
# in the sorted temp approach we will be having the original order of the list
# in the sort(permanent) approach we will not be having original order back.

In [3]:
print(sorted(cars)) # b,b,......e,m

['audi', 'benz', 'bmw', 'maruthi', 'toyota']

In [4]:
print(cars)

['benz', 'toyota', 'maruthi', 'audi', 'bmw']

In [7]:
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'maruthi', 'toyota']

In [6]:
print(cars)

['audi', 'benz', 'bmw', 'maruthi', 'toyota']

In [ ]:
Interview: What is the differences between sorted and sort?

In [ ]:
Req: i want to print the list in reverse order.......?

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'maruthi', 'toyota']

In [11]:
cars.reverse()
print(cars)

['toyota', 'maruthi', 'bmw', 'benz', 'audi']

In [ ]:
#how do you count the no. of elements in a list.......?

In [13]:
len(cars)

5

In [ ]:
 introduction to slicing of the list:

In [14]:
students = ['mohini','rachana','uma','swapna','vidya','naveena']

In [15]:
print(students)

['mohini', 'rachana', 'uma', 'swapna', 'vidya', 'naveena']

In [16]:
type(students)

list

In [ ]:
#general syntax of slicing:
var[startvalue:lastvalue:step count:]

Note: Last value is always exclusive....!

In [ ]:
req: i want to include mohini and rachana

In [22]:
print(students[0:1]) #last value is always exclusive & will not be considered

['mohini']

In [23]:
print(students[0:2])  #last value is always exclusive & will not be considered

['mohini', 'rachana']

In [24]:
print(students[2:4])

['uma', 'swapna']

In [25]:
print(students[4:6])

['vidya', 'naveena']

In [26]:
print(students[0:6:2])

['mohini', 'uma', 'vidya']

In [27]:
print(students[0:6:1])

['mohini', 'rachana', 'uma', 'swapna', 'vidya', 'naveena']